AdminClientForUnregUsers/Service References/ServiceReference1/UnregisteredUserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UnregisteredUserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64059/Services/UnregisteredUserManagment/UnregisteredUserService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64059/Services/UnregisteredUserManagment/UnregisteredUserService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64059/Services/UnregisteredUserManagment/UnregisteredUserService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SchoolLibrary.BusinessModels.Models" />
      <xsd:import schemaLocation="http://localhost:64059/Services/UnregisteredUserManagment/UnregisteredUserService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SchoolLibrary.Services.UnregisteredUserManagment" />
      <xsd:import schemaLocation="http://localhost:64059/Services/UnregisteredUserManagment/UnregisteredUserService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUnregisteredUserService_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IUnregisteredUserService_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IUnregisteredUserService_Submit_InputMessage">
    <wsdl:part name="parameters" element="tns:Submit" />
  </wsdl:message>
  <wsdl:message name="IUnregisteredUserService_Submit_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubmitResponse" />
  </wsdl:message>
  <wsdl:message name="IUnregisteredUserService_GetAllRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRoles" />
  </wsdl:message>
  <wsdl:message name="IUnregisteredUserService_GetAllRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRolesResponse" />
  </wsdl:message>
  <wsdl:portType name="IUnregisteredUserService">
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnregisteredUserService/GetAllUsers" message="tns:IUnregisteredUserService_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnregisteredUserService/GetAllUsersResponse" message="tns:IUnregisteredUserService_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Submit">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnregisteredUserService/Submit" message="tns:IUnregisteredUserService_Submit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnregisteredUserService/SubmitResponse" message="tns:IUnregisteredUserService_Submit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IUnregisteredUserService/GetAllRoles" message="tns:IUnregisteredUserService_GetAllRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUnregisteredUserService/GetAllRolesResponse" message="tns:IUnregisteredUserService_GetAllRoles_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUnregisteredUserService" type="tns:IUnregisteredUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IUnregisteredUserService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Submit">
      <soap:operation soapAction="http://tempuri.org/IUnregisteredUserService/Submit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRoles">
      <soap:operation soapAction="http://tempuri.org/IUnregisteredUserService/GetAllRoles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UnregisteredUserService">
    <wsdl:port name="BasicHttpBinding_IUnregisteredUserService" binding="tns:BasicHttpBinding_IUnregisteredUserService">
      <soap:address location="http://localhost:64059/Services/UnregisteredUserManagment/UnregisteredUserService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>