AdminClientForUnregUsers/Service References/ServiceReference1/UnregisteredUserService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SchoolLibrary.Services.UnregisteredUserManagment" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SchoolLibrary.Services.UnregisteredUserManagment" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SubmitResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubmitResult" nillable="true" type="tns:SubmitResult" />
</xs:schema>