SearchClientWPF/Service References/SearchServiceReference/DataService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SchoolLibrary.BusinessModels.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SchoolLibrary.BusinessModels.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfItemBusinessModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemBusinessModel" nillable="true" type="tns:ItemBusinessModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfItemBusinessModel" nillable="true" type="tns:ArrayOfItemBusinessModel" />
  <xs:complexType name="ItemBusinessModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ItemBusinessModel" nillable="true" type="tns:ItemBusinessModel" />
  <xs:complexType name="ArrayOfTagBusinessModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TagBusinessModel" nillable="true" type="tns:TagBusinessModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTagBusinessModel" nillable="true" type="tns:ArrayOfTagBusinessModel" />
  <xs:complexType name="TagBusinessModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TagBusinessModel" nillable="true" type="tns:TagBusinessModel" />
  <xs:complexType name="BookBusinessModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ItemBusinessModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Authors" nillable="true" type="tns:ArrayOfAuthorBusinessModel" />
          <xs:element minOccurs="0" name="PageCount" type="xs:int" />
          <xs:element minOccurs="0" name="Publisher" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BookBusinessModel" nillable="true" type="tns:BookBusinessModel" />
  <xs:complexType name="ArrayOfAuthorBusinessModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuthorBusinessModel" nillable="true" type="tns:AuthorBusinessModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuthorBusinessModel" nillable="true" type="tns:ArrayOfAuthorBusinessModel" />
  <xs:complexType name="AuthorBusinessModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Books" nillable="true" type="tns:ArrayOfBookBusinessModel" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthorBusinessModel" nillable="true" type="tns:AuthorBusinessModel" />
  <xs:complexType name="ArrayOfBookBusinessModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BookBusinessModel" nillable="true" type="tns:BookBusinessModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBookBusinessModel" nillable="true" type="tns:ArrayOfBookBusinessModel" />
  <xs:complexType name="DiskBusinessModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ItemBusinessModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Producer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Tags" nillable="true" type="tns:ArrayOfTagBusinessModel" />
          <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DiskBusinessModel" nillable="true" type="tns:DiskBusinessModel" />
  <xs:complexType name="MagazineBusinessModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ItemBusinessModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Issue" type="xs:int" />
          <xs:element minOccurs="0" name="PageCount" type="xs:int" />
          <xs:element minOccurs="0" name="Publisher" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Tags" nillable="true" type="tns:ArrayOfTagBusinessModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MagazineBusinessModel" nillable="true" type="tns:MagazineBusinessModel" />
</xs:schema>