SearchClientWPF/Service References/SearchServiceReference/DataService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SchoolLibrary.BusinessModels.MVCModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SchoolLibrary.BusinessModels.MVCModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64059/Services/Search/DataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SchoolLibrary.BusinessModels.Models" />
  <xs:complexType name="BookWithAuthorsShort">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/SchoolLibrary.BusinessModels.Models" base="q1:ItemBusinessModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Authors" nillable="true" type="tns:ArrayOfAuthorShortInfo" />
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PageCount" type="xs:int" />
          <xs:element minOccurs="0" name="Publisher" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Tags" nillable="true" type="q1:ArrayOfTagBusinessModel" />
          <xs:element minOccurs="0" name="Year" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BookWithAuthorsShort" nillable="true" type="tns:BookWithAuthorsShort" />
  <xs:complexType name="ArrayOfAuthorShortInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuthorShortInfo" nillable="true" type="tns:AuthorShortInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuthorShortInfo" nillable="true" type="tns:ArrayOfAuthorShortInfo" />
  <xs:complexType name="AuthorShortInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthorShortInfo" nillable="true" type="tns:AuthorShortInfo" />
</xs:schema>