ReaderHistoryWPF/Service References/ServiceReference1/ReaderHistoryService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64059/Services/ReaderHistory/ReaderHistoryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SchoolLibrary.BusinessModels.Models" />
  <xs:element name="GetStudentsBooksToReturn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="readerId" type="xs:int" />
        <xs:element minOccurs="0" name="days" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentsBooksToReturnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SchoolLibrary.BusinessModels.Models" minOccurs="0" name="GetStudentsBooksToReturnResult" nillable="true" type="q1:ArrayOfHistoryBusinessModelForGrid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SchoolLibrary.BusinessModels.Models" minOccurs="0" name="LoginResult" nillable="true" type="q2:ReaderBusinessModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReaderById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="readerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReaderByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SchoolLibrary.BusinessModels.Models" minOccurs="0" name="GetReaderByIdResult" nillable="true" type="q3:ReaderBusinessModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>