ReaderHistoryWPF/Service References/ServiceReference1/ReaderHistoryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReaderHistoryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:64059/Services/ReaderHistory/ReaderHistoryService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:64059/Services/ReaderHistory/ReaderHistoryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:64059/Services/ReaderHistory/ReaderHistoryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SchoolLibrary.BusinessModels.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReaderHistoryService_GetStudentsBooksToReturn_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsBooksToReturn" />
  </wsdl:message>
  <wsdl:message name="IReaderHistoryService_GetStudentsBooksToReturn_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsBooksToReturnResponse" />
  </wsdl:message>
  <wsdl:message name="IReaderHistoryService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IReaderHistoryService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IReaderHistoryService_GetReaderById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReaderById" />
  </wsdl:message>
  <wsdl:message name="IReaderHistoryService_GetReaderById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReaderByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IReaderHistoryService">
    <wsdl:operation name="GetStudentsBooksToReturn">
      <wsdl:input wsaw:Action="http://tempuri.org/IReaderHistoryService/GetStudentsBooksToReturn" message="tns:IReaderHistoryService_GetStudentsBooksToReturn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReaderHistoryService/GetStudentsBooksToReturnResponse" message="tns:IReaderHistoryService_GetStudentsBooksToReturn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IReaderHistoryService/Login" message="tns:IReaderHistoryService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReaderHistoryService/LoginResponse" message="tns:IReaderHistoryService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReaderById">
      <wsdl:input wsaw:Action="http://tempuri.org/IReaderHistoryService/GetReaderById" message="tns:IReaderHistoryService_GetReaderById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReaderHistoryService/GetReaderByIdResponse" message="tns:IReaderHistoryService_GetReaderById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReaderHistoryService" type="tns:IReaderHistoryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStudentsBooksToReturn">
      <soap:operation soapAction="http://tempuri.org/IReaderHistoryService/GetStudentsBooksToReturn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IReaderHistoryService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReaderById">
      <soap:operation soapAction="http://tempuri.org/IReaderHistoryService/GetReaderById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReaderHistoryService">
    <wsdl:port name="BasicHttpBinding_IReaderHistoryService" binding="tns:BasicHttpBinding_IReaderHistoryService">
      <soap:address location="http://localhost:64059/Services/ReaderHistory/ReaderHistoryService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>